<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Service index</title>
    <style>
        * {
            font-family: Arial;
        }
        div{
            display: flex;
            align-items: center;
            padding: 1em;
            font-size: 1.2em;
        }
        div{
            padding-left: 0.5em;
        }

    </style>
</head>
<body>

<h1>Services</h1>
    {{#each services as |service|}}
    <div>
        <a href="/{{service.id}}">
            <img src="{{service.image}}">
        </a>
        <a href="/{{service.id}}">
            {{service.name}}
        </a>
    </div>
    {{/each}}

</body>
</html>