<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Services</title>
    <style>
        * {
            font-family: Arial;
        }
        div{
            padding: 1em;
            font-size: 1.5em;
        }
    </style>
</head>
<header>
    <div class="container" style="background-color: aquamarine">
        <h1  align="center">Services</h1>
    </div>
</header>
<body>
    <div class="container" style="background-color: gold">
        <table class="table">
            <tr>
                <td>
                    {{#each services as |service|}}
                        <div class="container">
                            <a href="/{{service.id}}">
                                <img src="{{service.image}}">
                            </a>
                            <a href="/{{service.id}}">
                                {{service.name}}
                            </a>
                        </div>
                    {{/each}}
                </td>
            </tr>
        </table>
    </div>
</body>
</html>