<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous">
    </script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-debug.js'></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        var services = ko.observableArray([]);
        var orderBy = ko.observable();
        var columns = ['name' , 'category', 'price', 'duration']


        function onRowClick(row) {
            window.location= "/" + row.id;
        }

        function init() {
            ko.applyBindings({
                services: services
            });

            $.ajax("api/services", {
                method: 'GET',
                success: function (data) {
                    console.log("services", data);
                    services(data);
                }
            });
        }

        function sortBy() {
            services.sort(function (left, right) {
                return left[orderBy()] == right[orderBy()] ? 0 : (left[orderBy()] < right[orderBy()] ? -1 : 1)
            });
        }

        window.addEventListener('load', init);
    </script>
    <title>Services</title>
    <style>
        .input-group-btn{
            width: 70%;
        }
        .jumbotron{
            background-image: url(https://static.pexels.com/photos/34586/pexels-photo.jpg);
            margin-bottom: 0px;
            background-position: 0% 25%;
            background-size: cover;
            background-repeat: no-repeat;
            color: white;
            text-shadow: black 0.1em 0.3em 0.3em;

        }
        .btn-group{
            padding-top: 1em;
        }

        img{
            width: 100%;
            margin-top: 5%;
        }
    </style>
</head>
<header>
    <div class="jumbotron text-center">
        <h1>Services</h1>
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
    </div>
</header>
<body>
    <div class="container">
        <div class="btn-group">
            <a href="/add" class="btn btn-info" role="button">Add new service</a>
            <span class="input-group-btn">
                <select data-bind="options: columns, value: orderBy, click: sortBy()" class="form-control" ></select>
            </span>
        </div>
       <div class="row">
           <table class="table">
               <tbody data-bind="foreach: services">
                   <tr data-bind="click: onRowClick.bind($data)">
                       <td style="width: 130px" ><img data-bind="attr: { src: image}" class="img-rounded" /></td>
                       <td>
                           <h4><p data-bind="text: name" ></p></h4>
                           <b>Category: </b><span data-bind="text: category" ></span><br/>
                           <b>Price: </b><span data-bind="text: price" ></span><br/>
                           <b>Duration: </b><span data-bind="text: duration" ></span><br/>
                       </td>
                   </tr>
               </tbody>
           </table>
       </div>
    </div>
</body>
</html>